#    This file is part of Oku.
#
#    Oku is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    Oku is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with Oku.  If not, see <https://www.gnu.org/licenses/>.
[package]
name = "oku"
version = "0.1.0"
authors = ["Emil Sayahi <limesayahi@gmail.com>"]
edition = "2021"
exclude = ["/.github/**/*", "/.cargo/**/*", "/branding/**/*", "/rust-toolchain", "/.gitignore", "/.whitesource", "/renovate.json", "/CODE_OF_CONDUCT.md", "/CONTRIBUTING.md", "/LICENSE.md", "/SECURITY.md", "/COPYING", "/NOTICE"]
license = "AGPL-3.0-or-later"
description = "A hive browser written in Rust."
repository = "https://github.com/Dirout/oku"
homepage = "https://github.com/Dirout/oku"
readme = "README.md"
resolver = "2"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
appa = { git = "https://github.com/emmyoh/appa.git", branch = "matheus23/it-will-have-iroh-i-promise" }
# appa = { path = "/home/emil/Documents/GitHub/appa" }
#arti-client = { version = "0.10.2", features = ["static"] }
bincode = "1.3.3"
cairo-rs = { version = "*", features = ["png"] }
chrono = { version = "0.4.34", features = ["unstable-locales"] }
cid = "0.11.0"
directories-next = "2.0.0"
futures = "0.3.30"
gdk = { version = "*", package = "gdk4" }
gdk-pixbuf = { version = "*" }
gio = { version = "*" }
glib = { version = "*" }
glib-macros = { version = "*" }
gtk = { version = "*", package = "gtk4", features = ["gnome_44"], default-features = false }
ipfs = { git = "https://github.com/dariusc93/rust-ipfs.git", rev = "518eec4", package = "rust-ipfs"}
iroh = { version = "0.12.0", default-features = false }
#ipfs-api-backend-hyper = { version = "0.6.0", features = ["with-hyper-tls"] }
lazy_static = "1.4.0"
libadwaita = { version = "*", features = ["v1_3"] }
notify-rust = { version = "4.10.0", features = ["images", "z"], default-features = false }
pango = { version = "*" }
url = "2.5.0"
urlencoding = "2.1.3"
reqwest = { version = "0.11.24", features = ["blocking"] }
tokio = { version = "1.36.0", features = ["full"] }
tokio-stream = "0.1.14"
transmission_rs = "0.8.11"
webkit2gtk = { version = "*", package = "webkit6" }
iroh-net = "0.22.0"
iroh-bytes = "0.12.0"
iroh-sync = "0.12.0"
iroh-base = "0.12.0"

[patch.crates-io]
wnfs-common = { git = "https://github.com/wnfs-wg/rs-wnfs.git", branch = "matheus23/root-tree" }

[profile.release]
codegen-units = 1
opt-level = 3
lto = true
debug = 0
panic = 'abort'

[package.metadata.deb]
section = "utility"
priority = "optional"
assets = [
    ["target/x86_64-unknown-linux-gnu/release/oku", "usr/bin/", "755"],
    ["README.md", "usr/share/doc/oku/README", "644"],
    ["COPYING", "usr/share/doc/oku/COPYING", "644"],
    ["data/hicolor/**/*", "/usr/share/icons/hicolor/", "644"],
]

[package.metadata.rpm]
package = "oku"

[package.metadata.rpm.cargo]
buildflags = ["--release"]

[package.metadata.rpm.targets]
oku = { path = "/usr/bin/oku" }
