[Desktop Entry]
Version=0.1.0
Name=Oku
GenericName=Web Browser
Comment=A Web browser with an emphasis on local-first data storage
Type=Application
TryExec=oku
Exec=oku
Terminal=false
Categories=Network;WebBrowser;Core;GTK;GNOME;
Keywords=Internet;WWW;Browser;Web;Explorer;IPFS;Hive;DWeb;Rust;Flatpak;GTK;;GNOME;
Icon=com.github.dirout.oku
StartupNotify=true
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
Actions=new-window;

[Desktop Action new-window]
Name=New Window
Exec=oku
