[Desktop Entry]
Name=Oku
Comment=A hive browser written in Rust
Type=Application
Exec=oku
Terminal=false
Categories=Utility;GTK;
Keywords=Rust;Flatpak;GTK;
Icon=com.github.madebyemil.oku
StartupNotify=true