@charset "UTF-8";

:root {
  font-family: var(--body-font);
  font-feature-settings: "liga" 1, "calt" 1;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

:root {
  --red: rgb(255, 49, 38);
  --orange: rgb(245, 139, 0);
  --yellow: rgb(245, 194, 0);
  --green: rgb(30, 195, 55);
  --mint: rgb(0, 189, 180);
  --teal: rgb(46, 167, 189);
  --cyan: rgb(65, 175, 220);
  --blue: rgb(0, 122, 245);
  --indigo: rgb(84, 82, 204);
  --purple: rgb(159, 75, 201);
  --pink: rgb(245, 35, 75);
  --brown: rgb(152, 122, 84);
  --grey: rgb(132, 132, 137);
}

@media (prefers-color-scheme: dark) {
  :root {
    --red: rgb(255, 79, 68);
    --orange: rgb(255, 169, 20);
    --yellow: rgb(255, 224, 20);
    --green: rgb(60, 225, 85);
    --mint: rgb(108, 224, 219);
    --teal: rgb(68, 212, 237);
    --cyan: rgb(90, 205, 250);
    --blue: rgb(20, 142, 255);
    --indigo: rgb(99, 97, 242);
    --purple: rgb(204, 101, 255);
    --pink: rgb(255, 65, 105);
    --brown: rgb(182, 152, 114);
    --grey: rgb(162, 162, 167);
  }
}

:root {
  --blue-1: #99c1f1;
  --blue-2: #62a0ea;
  --blue-3: #3584e4;
  --blue-4: #1c71d8;
  --blue-5: #1a5fb4;
  --green-1: #8ff0a4;
  --green-2: #57e389;
  --green-3: #33d17a;
  --green-4: #2ec27e;
  --green-5: #26a269;
  --yellow-1: #f9f06b;
  --yellow-2: #f8e45c;
  --yellow-3: #f6d32d;
  --yellow-4: #f5c211;
  --yellow-5: #e5a50a;
  --orange-1: #ffbe6f;
  --orange-2: #ffa348;
  --orange-3: #ff7800;
  --orange-4: #e66100;
  --orange-5: #c64600;
  --red-1: #f66151;
  --red-2: #ed333b;
  --red-3: #e01b24;
  --red-4: #c01c28;
  --red-5: #a51d2d;
  --purple-1: #dc8add;
  --purple-2: #c061cb;
  --purple-3: #9141ac;
  --purple-4: #813d9c;
  --purple-5: #613583;
  --brown-1: #cdab8f;
  --brown-2: #b5835a;
  --brown-3: #986a44;
  --brown-4: #865e3c;
  --brown-5: #63452c;
  --light-1: #ffffff;
  --light-2: #f6f5f4;
  --light-3: #deddda;
  --light-4: #c0bfbc;
  --light-5: #9a9996;
  --dark-1: #77767b;
  --dark-2: #5e5c64;
  --dark-3: #3d3846;
  --dark-4: #241f31;
  --dark-5: #000000;
}

:root {
  --body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
  --body-line-height: 1.5;
  --border-radius: .25rem;
  --code-font: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --code-color: var(--purple);
  --code-bg: var(--dark-4);
  --spacer: 1rem;
  --spacer-2: calc(var(--spacer) * 1.5);
  --spacer-3: calc(var(--spacer) * 3);
  font-size: 1.1875em;
  background: var(--body-bg) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='300' height='300'%3E%3Cfilter id='n' x='0' y='0'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.75' stitchTiles='stitch' /%3E%3C/filter%3E%3Crect width='300' height='300' filter='url(%23n)' opacity='0.1' /%3E%3C/svg%3E");
  background-repeat: repeat;
  background-blend-mode: hard-light;
  background-attachment: fixed;
}

:root {
  --body-bg: color-mix(in srgb, var(--grey), transparent 66%);
  --body-color: var(--dark-3);
  --link-color: color-mix(in srgb, var(--pink) 80%, var(--purple));
  --link-hover-color: color-mix(in srgb, color-mix(in srgb, var(--pink) 80%, var(--purple)), black 35%);
  --heading-color: var(--dark-4);
  --border-color: var(--dark-2);
  --container-bg: rgba(255, 255, 255, 0.45);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: color-mix(in srgb, var(--grey), transparent 90%);
    --body-color: var(--light-2);
    --link-color: color-mix(in srgb, var(--orange) 80%, var(--yellow));
    --link-hover-color: color-mix(in srgb, color-mix(in srgb, var(--orange) 80%, var(--yellow)) 90%, white);
    --heading-color: var(--light-1);
    --border-color: var(--light-3);
    --container-bg: rgba(255, 255, 255, 0.33);
  }
}

address,
blockquote,
dl,
ol,
p,
pre,
table,
ul {
  color: var(--body-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5rem 0;
  font-weight: 700;
  line-height: 1.25;
  color: var(--heading-color);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4,
h5,
h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 600;
}

ul {
  text-align: initial;
}

ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 0.5rem;
}

hr {
  position: relative;
  margin: var(--spacer-2) 0;
  border: 0;
  border-top: 0.2rem dotted var(--border-color);
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: var(--gray-600);
  text-transform: uppercase;
}

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted var(--border-color);
}

blockquote {
  padding: 0.5rem 1rem;
  margin: 0.8rem 0;
  color: var(--gray-500);
  border-left: 0.25rem solid var(--border-color);
}

blockquote p:last-child {
  margin-bottom: 0;
}

@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

figure {
  margin: 0;
}

a[href^="#fn:"],
a[href^="#fnref:"] {
  display: inline-block;
  margin-left: 0.1rem;
  font-weight: bold;
}

code,
pre {
  font-family: var(--code-font);
}

code {
  font-size: 85%;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: var(--spacer-3);
  overflow: auto;
}

.mono {
  font-family: var(--code-font);
}

.page,
.post {
  margin-bottom: 4em;
  box-shadow: none;
  background: none;
}

.page li+li,
.post li+li {
  margin-top: 0.25rem;
}

.page-title,
.post-title {
  color: var(--heading-color);
  margin-top: 0;
}

.post-title a {
  color: inherit;
  text-decoration: none;
}

.post-title a:hover,
.post-title a:focus {
  text-decoration: wavy underline;
}

.post-date {
  display: block;
  margin-top: -0.5rem;
  margin-bottom: var(--spacer);
  color: var(--border-color);
}

.post-meta {
  display: inline;
  margin-top: -0.5rem;
  margin-bottom: 0.25rem;
  color: var(--border-color);
}

.post-header {
  display: flex;
  align-items: center;
  position: relative;
}

button {
  border: none;
  border-radius: 8px;
  background-color: var(--container-bg);
  color: var(--body-color);
  cursor: pointer;
}

.delete-button {
  top: 0;
  right: 0;
  position: absolute;
  border: thin solid var(--border-color);
}

.destructive {
  color: var(--pink)
}

.follow-block-button {
  min-width: 12.5%;
  margin: auto 0.25rem;
}

.related {
  padding-top: var(--spacer-2);
  padding-bottom: var(--spacer-2);
  margin-bottom: var(--spacer-2);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.related-posts {
  padding-left: 0;
  list-style: none;
}

.related-posts h3 {
  margin-top: 0;
}

.related-posts a {
  text-decoration: none;
}

.related-posts a small {
  color: var(--gray-600);
}

.masthead {
  padding-left: var(--spacer);
  padding-bottom: var(--spacer);
  margin-bottom: var(--spacer-2);
}

.masthead span:not(:last-of-type)::after {
  content: " • ";
}

.masthead-title {
  margin-bottom: 0;
}

.masthead-title a {
  color: inherit;
  text-decoration: none;
}

.masthead-title span {
  font-weight: 400;
  opacity: 0.5;
}

#skip {
  position: absolute;
  top: -1000%;
  left: -1000%;
}

#skip:focus {
  top: 10px;
  left: 10px;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding-top: 4rem;
  padding-bottom: 4rem;
  line-height: var(--body-line-height);
  color: var(--body-color);
}

body {
  max-width: 45rem;
  padding-left: var(--spacer-2);
  padding-right: var(--spacer-2);
  margin-left: auto;
  margin-right: auto;
}

.content {
  max-width: 45rem;
  padding: var(--spacer-2);
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.container {
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: var(--container-bg);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  z-index: -1;
}

.ellipsise {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.clay {
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.45), inset 0px -8px 15px 0px rgba(0, 0, 0, 0.25);
  border: 0.1px solid transparent;
}

.glass {
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.33);
  box-shadow: 0 5px 30px 0 rgba(255, 255, 255, 0.45), inset 0px -10px 20px 0px rgba(255, 255, 255, 0.25);
  border: 0.1px solid transparent;
}

footer {
  margin-top: var(--spacer-3);
  margin-bottom: var(--spacer-3);
}

a {
  color: var(--link-color);
}

a:hover,
a:focus {
  color: var(--link-hover-color);
}

a:link {
  text-decoration: none;
}

a strong {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  margin-bottom: var(--spacer);
  border-radius: var(--border-radius);
}

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 0 solid var(--border-color);
  border-collapse: collapse;
}

td,
th {
  padding: 0.25rem 0.5rem;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
}

th {
  text-align: left;
}

thead th {
  border-bottom-color: currentColor;
}

mark {
  padding: 0.15rem;
  background-color: var(--yellow-100);
  border-radius: 0.125rem;
}

pre {
  margin: 2em 1em 2em 4em;
  white-space: pre-wrap;
}

@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0;
  }
}